{% extends 'informativa/plantillainformativa.html' %}
{% load static %} <!--AQUI LLAMO A STATIC PARA QUE ME TRAIGA LA CARPETA STATIC DE LOS ELEMENTOS-->
{% block body %}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="{% static 'plantilla/medilab/assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>CENTRO MÉDICO RENACER</h2>
          <p>Su salud es nuestra prioridad.</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>¿Por qué elegirnos?</h3>
              <p>
                Somos referentes en atención médica integral en el sur de Quito, priorizamos tu bienestar y el de tu familia. Contamos con un equipo de profesionales altamente calificados y tecnología de punta para brindarte la mejor atención médica.
              </p>
              <div class="text-center">
                <a href="#about" class="more-btn"><span>Conoce más</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-heart-pulse"></i>
                    <h4>Servicio de Calidad</h4>
                    <p>Tenemos los mejores profesionales a cargo del cuidado de tu salud y tu bienestar</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-gem"></i>
                    <h4>Atención Premium</h4>
                    <p>Brindamos un servicio de calidad con tiempos de espera reducidos y seguimiento personalizado</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-inboxes"></i>
                    <h4>Medicina Preventiva</h4>
                    <p>Nos enfocamos en la prevención y detección temprana de enfermedades para cuidar tu salud a largo plazo</p>
                  </div>
                </div><!-- End Icon Box -->

              </div>
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>MISIÓN</h3>
            <p>
              Proporcionar atención médica integral y de calidad a la comunidad del sur de Quito, enfocándonos en la prevención, el tratamiento y la promoción de la salud, con un equipo comprometido y humano que respete la dignidad de cada paciente.
            </p>            
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>VISIÓN</h3>
            <p>
              Ser el centro médico líder en el sur de Quito, reconocido por su excelencia en servicios de salud, innovación y enfoque comunitario, contribuyendo al bienestar y desarrollo sostenible de la población.
            </p>            
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctores</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Especialidades</p>
            </div>
          </div><!-- End Stats Item -->
        

          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
              <p>Pacientes</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Conoce los servicios que nuestro centro médico te ofrece</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Diagnóstico y Tratamiento</h3>
              </a>
              <p>Realizamos evaluaciones médicas completas utilizando tecnología de vanguardia para proporcionar diagnósticos precisos y tratamientos efectivos adaptados a cada paciente.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Planes de Alimentación</h3>
              </a>
              <p>Desarrollamos planes nutricionales personalizados considerando tus necesidades específicas, condiciones médicas y objetivos de salud.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Atención Preventiva</h3>
              </a>
              <p>Ofrecemos programas de prevención y chequeos regulares para mantener tu salud en óptimas condiciones y detectar tempranamente cualquier condición.</p>
            </div>
          </div><!-- End Service Item -->                              

        </div>

      </div>

    </section><!-- /Services Section -->    

    <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Especialidades</h2>
        <p>Te ofrecemos una amplia gama de servicios profesionales y tecnológicos en todas las especialidades médicas que necesites. Desde atención primaria hasta servicios especializados y quirúrgicos de primera línea.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Medicina General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Odontología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Ginecología</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Optometría</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Obstetricía</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Medicina General</h3>
                    <p class="fst-italic">La base de una atención médica integral y preventiva</p>
                    <p>Nuestro departamento de medicina general ofrece atención primaria completa, incluyendo diagnóstico y tratamiento de enfermedades comunes, chequeos regulares y coordinación con especialistas cuando sea necesario.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'plantilla/medilab/assets/img/departments-1.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Odontología</h3>
                    <p class="fst-italic">Cuidado dental integral con tecnología de punta</p>
                    <p>Ofrecemos servicios completos de salud dental, desde limpiezas y revisiones rutinarias hasta tratamientos especializados como ortodoncia, endodoncia y cirugía oral.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'plantilla/medilab/assets/img/odontologia.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ginecología</h3>
                    <p class="fst-italic">Atención especializada para la salud femenina</p>
                    <p>Brindamos atención integral en salud femenina, incluyendo controles rutinarios, planificación familiar, tratamiento de trastornos ginecológicos y atención preventiva.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'plantilla/medilab/assets/img/ginecologia.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Optometría</h3>
                    <p class="fst-italic">Cuidamos de tu salud visual con atención especializada</p>
                    <p>Nuestro equipo de profesionales altamente capacitados utiliza tecnología de vanguardia para realizar exámenes visuales exhaustivos, diagnosticar problemas oculares y recomendarte las mejores soluciones, ya sean gafas, lentes de contacto o tratamientos específicos. Tu bienestar visual es nuestra prioridad, y estamos aquí para ayudarte a ver el mundo con claridad y confort.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'plantilla/medilab/assets/img/optometria.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Obstetricia</h3>
                    <p class="fst-italic">Cuidado integral para la maternidad y la salud de la mujer</p>
                    <p>Nuestro equipo de obstetras y profesionales de la salud está dedicado a acompañarte en cada etapa de este hermoso viaje, asegurando que tanto tú como tu bebé reciban el mejor cuidado posible.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'plantilla/medilab/assets/img/obstetricia.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Departments Section -->

    <!-- Doctors Section -->
    <section id="doctors" class="doctors section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Doctores</h2>
        <p>Conoce a nuestros excelentes profesionales de la salud.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'plantilla/medilab/assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Juan Carlos Morales</h4>
                <span>Medicina General</span>
                <p>Médico general con 15 años de experiencia, especializado en medicina familiar y preventiva.</p>
                <div class="social">
                  <a href="####"><i class="bi bi-twitter-x"></i></a>
                  <a href="####"><i class="bi bi-facebook"></i></a>
                  <a href="####"><i class="bi bi-instagram"></i></a>
                  <a href="####"> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'plantilla/medilab/assets/img/doctors/doctors-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dra. Ana María Vega</h4>
                <span>Odontología</span>
                <p>Odontóloga especialista en tratamientos estéticos y rehabilitación oral con 10 años de experiencia.</p>
                <div class="social">
                  <a href="####"><i class="bi bi-twitter-x"></i></a>
                  <a href="####"><i class="bi bi-facebook"></i></a>
                  <a href="####"><i class="bi bi-instagram"></i></a>
                  <a href="####"> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'plantilla/medilab/assets/img/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Roberto Paredes</h4>
                <span>Ginecología</span>
                <p>Ginecólogo especializado en salud reproductiva y atención prenatal con más de 12 años de experiencia.</p>
                <div class="social">
                  <a href="###"><i class="bi bi-twitter-x"></i></a>
                  <a href="###"><i class="bi bi-facebook"></i></a>
                  <a href="###"><i class="bi bi-instagram"></i></a>
                  <a href="###"> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'plantilla/medilab/assets/img/doctors/doctors-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dra. Mónica Cajo</h4>
                <span>Optometría</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href="##"><i class="bi bi-twitter-x"></i></a>
                  <a href="##"><i class="bi bi-facebook"></i></a>
                  <a href="##"><i class="bi bi-instagram"></i></a>
                  <a href="##"> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'plantilla/medilab/assets/img/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dra. Mónica Cajo</h4>
                <span>Ginecología</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Doctors Section -->
    
    

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Galería</h2>
        <p>¡Conoce un poco más sobre nosotros!</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'plantilla/medilab/assets/img/gallery/odonto_renacer.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'plantilla/medilab/assets/img/gallery/odonto_renacer.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'plantilla/medilab/assets/img/gallery/optometria_renacer.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'plantilla/medilab/assets/img/gallery/optometria_renacer.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'plantilla/medilab/assets/img/gallery/obstetriz_renacer.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'plantilla/medilab/assets/img/gallery/obstetriz_renacer.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'plantilla/medilab/assets/img/gallery/revision_renacer.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'plantilla/medilab/assets/img/gallery/revision_renacer.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->
                    
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <p>Comunícate con nosotros</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7522849108695!2d-78.55036569999997!3d-0.3296477999999914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a233476f616f%3A0x1c355da1bc20c210!2sCentro%20M%C3%A9dico%20Renacer!5e0!3m2!1ses-419!2sec!4v1734065533370!5m2!1ses-419!2sec" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->      
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Sucursal Principal</h3>
                <p>Av. Maldonado S52-325, entre Reinaldo Santacruz y Nicolás Zingles, Guamaní, Quito</p>
              </div>
            </div><!-- End Info Item -->            

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Teléfonos</h3>
                <p>+593 2-345-6789<br>+593 98-765-4321</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>centromedicorenacer@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Horario de Atención</h3>
                <p>Lunes a Viernes: 8:00 AM - 8:00 PM<br>Sábados: 8:00 AM - 2:00 PM</p>
              </div>
            </div><!-- End Info Item -->

          </div>
        
        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock %}